<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant - Contact</title>
    <th:block th:replace="~{default/header :: head}"></th:block>
</head>
<body>
<th:block th:replace="~{default/header :: header}"></th:block>

<main>
    <section class="contact-section">
        <div class="container">
            <h2>CONTACT US</h2>
            <form>
                <!-- Form liên hệ -->
            </form>
        </div>
    </section>
</main>

<th:block th:replace="~{default/footer :: footer}"></th:block>
</body>
</html>